
*.log
*.log
Art Gallery/Logs/shadercompiler-AssetImportWorker0.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe12.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe13.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe14.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe15.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Art Gallery/Logs/shadercompiler-UnityShaderCompiler.exe9.log
